body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

header {
    background-color: black;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    color: neonblue;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: neonblue;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-card {
    width: 250px;
    background-color: black;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

footer {
    background-color: black;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
